---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout 
  title="Daniel Moreno | ML Engineer & Researcher"
  description="Personal portfolio of Daniel Moreno, Machine Learning Engineer & Researcher specialized in Vision Transformers and Astronomical Time Series."
>
  <main>
    <Hero />
  </main>
</BaseLayout>
