---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResearchSection from '../components/Research.astro';
---

<BaseLayout 
  title="Research | Daniel Moreno"
  description="Publications and contributions in the field of Astronomical Time Series and Vision Transformers."
>
  <main class="page-wrapper">
    <ResearchSection />
  </main>
</BaseLayout>
