---
import BaseLayout from '../layouts/BaseLayout.astro';
import TutorialsSection from '../components/Tutorials.astro';
---

<BaseLayout 
  title="Tutorials | Daniel Moreno"
  description="Educational content, deep learning tutorials, and code walkthroughs for Astronomy."
>
  <main class="page-wrapper">
    <TutorialsSection />
  </main>
</BaseLayout>
